#para
{
    margin: 0%;
    background-color: white
    }
#google
{
    top:40px;
    padding-top: 300px;
    text-align: center;
}
#searchbox
{
    width: 100%;
    text-align: center;
width: 582px ;
color: #222 ;
border: 1px solid #dfe1e5;
font-size: 12px;
padding-top: 14px ;
border-radius: 24px;
margin-top: 24px;
}

    
    
#button
{
    text-align: right;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    color: black;
    padding-right: 10px;



}
#mat
{
    position: relative;
    top: 8px;
    padding-right: 10px;
}
#button:hover
{
  text-decoration: underline;
  color: black;
    
}
#voice

{
    position: absolute;
    right: 455px;
    top: 461px;
}
#searchbox:hover
{
box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
border-color: rgba(223, 225, 229, 0);
}
#custom
{
    margin-top: 20px;

    text-align: center;
color: #5F6368;
font-size: 14px;
height: 36px;
padding: 0 16px;
background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
border: 1px solid transparent;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
color: #222;
}
#link
{
    text-decoration: none;
}
#custom :hover
{
    text-decoration: none;
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
border: 1px solid #c6c6c6;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
color: #222

}
#appdropdown
{
    width: 250px;
padding: 28px;
border: 1px solid #ccc;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
position: absolute;
right: 40px;
top: 50px;
text-align: center;
display: none;
}

.appitem
{
    display: inline-block;
    width:70px;
    padding-top: 20px;
}
.appitem>img{
    height: 50px;
    width:50px;
}
.appitem > p
{
    margin: 0;
    padding-top: 8px;
}
.appitem:hover
{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
#drapper
{
    display: inline-block;
}
#drapper:hover
#appdropdown
{
    display: block;
}